<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karim Lala</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/592c9f3279.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    /> -->
  </head>
  <body>
    <div class="header_bar" id="headerbar">
      <div class="utility_bar">
        <div id="slider">
          <p class="item-1">
            Free Shipping & Returns on Every Order for Red Tab Members
          </p>

          <p class="item-2">Extra 50% Off Sale. Auto-applied at checkout.</p>

          <p class="item-3">20% Off + Free Shipping On Your First Order!</p>
        </div>
        <div id="login">
          <ul>
            <% if (!user) { %>
            <li><a href="/login">Log In</a></li>
            <li><a href="/register">Register</a></li>
            <% } %> <% if (user) { %>
            <li><a href="/logout">Log Out</a></li>
            <% } %>
          </ul>
        </div>
      </div>

      <div class="navbar">
        <div id="leftnavbar">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/contact-us">CONTACT US</a></li>
          </ul>
        </div>
        <div id="logo">
          <div id="logo_size">
            <img src="/css/logo.png" alt="" />
          </div>
        </div>
        <div id="rightnavbar">
          <div id="searchbox">
            <div id="magn">
              <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            </div>
            <input type="search" name="search" placeholder="Search Anything" />
          </div>
          <div id="shop">
            <ul>
              <li>
                <div id="bell" class="icons">
                  <a href="empty.html">
                    <i class="fa-regular fa-bell fa-2x"></i>
                  </a>
                </div>
              </li>
              <li>
                <div id="heart" class="icons">
                  <a href="empty.html">
                    <i class="fa-regular fa-heart fa-2x"></i>
                  </a>
                </div>
              </li>
              <li>
                <div id="bag" class="icons">
                  <a href="/cart">
                    <i class="fa-solid fa-bag-shopping fa-2x"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="max-width: 80%; margin: 120px auto 0px"><%-body %></div>

    <div class="footer">
      <div class="footerContainer">
        <div class="footerSection" id="footerSectionOne">
          <div class="listItems">
            <div class="hd"><h6>Special Discount</h6></div>
            <ul>
              <li><a href="empty.html">Levi's® Promo Codes</a></li>
              <li><a href="empty.html">Teacher Discount</a></li>
              <li><a href="empty.html">Military Discount</a></li>
              <li><a href="empty.html">Medical & First Responders</a></li>
              <li><a href="empty.html">Student Discount</a></li>
              <li><a href="empty.html">Red Tab™ Member Program</a></li>
            </ul>
          </div>
        </div>
        <div class="footerSection" id="footerSectionTwo">
          <div class="listItems">
            <div class="hd"><h6>Support</h6></div>
            <ul>
              <li><a href="empty.html">Help</a></li>
              <li><a href="empty.html">Returns & Exchanges</a></li>
              <li><a href="empty.html">Shipping</a></li>
              <li><a href="empty.html">Track Order</a></li>
              <li><a href="empty.html">Payment Accepted</a></li>
              <li><a href="empty.html">Gift Cards</a></li>
              <li><a href="empty.html">Unsubscribe</a></li>
            </ul>
          </div>
        </div>
        <div class="footerSection" id="footerSectionThree">
          <div class="listItems">
            <div class="hd"><h6>Company</h6></div>
            <ul>
              <li><a href="empty.html">About Us</a></li>
              <li><a href="empty.html">Tour Values</a></li>
              <li><a href="empty.html">Careers</a></li>
              <li><a href="empty.html">Affiliate Programs</a></li>
              <li><a href="empty.html">Submit Your Idea</a></li>
            </ul>
          </div>
        </div>
        <div class="footerSection" id="footerSectionFour">
          <div class="listItems">
            <div class="hd"><h6>Store</h6></div>
            <ul>
              <li><a href="empty.html">Find a Store</a></li>
              <li><a href="empty.html">Store Services</a></li>
              <li><a href="empty.html">Shop by Appointment</a></li>
              <li><a href="empty.html">Medical & First Responders</a></li>
              <li><a href="empty.html">Bulk Orders</a></li>
            </ul>
          </div>
        </div>
        <div class="footerSection" id="footerSectionFive">
          <div class="listItems">
            <div class="hd"><h6>Our Brands</h6></div>
            <ul>
              <li><a href="empty.html">Levi's®</a></li>
              <li><a href="empty.html">Dockers®</a></li>
              <li><a href="empty.html">Denizen® From Levi's®</a></li>
              <li><a href="empty.html">Signature by Levi Strauss & Co.™</a></li>
              <li><a href="empty.html">Beyond Yoga</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
